<div class="jumbotron hero">
  <h1 class="text-center"><span class="hacktext">Code Launch 2015</span></h1>
  <h2 class="text-center">July 11-19, 2015</h2>
  <h3 class="text-center">With a theme of:</h3>
  <h2 class="text-center theme-text"><em>Improve Your Daily Life</em></h2>
</div>
<div id="sponsors" class="col-md-8 col-md-offset-2">
  <h2 class="text-center">Sponsored By:</h2>
  <div class="col-md-4 col-md-offset-2"><%=link_to( (image_tag "nitrous.png", class: "img img-responsive", title: "Nitrous"), "https://nitrous.io", class: "img img-responsive", target: "_blank") %></div>
  <div class="col-md-4"><%=link_to( (image_tag "octopus.png", class: "img img-responsive", title: "Octopus Creative"), "http://octopuscreative.com", class: "img img-responsive", target: "_blank") %></div>
  <!-- <div class="col-md-3"></div> -->
  <!-- <div class="col-md-3"></div> -->
</div>
<div class="col-md-8 col-md-offset-2">
  <h3 class="text-center lead">Not a member of our community?<br><a href="https://slashrocket.io" target="_blank"><%= image_tag "join.png", class: "img img-responsive" %></a></h3>
</div>
