<div class="jumbotron hero">
  <h1 class="text-center"><%= image_tag "icon.png", class: "img logo" %><span class="hacktext">Hackathon</span></h1>
  <h2 class="text-center">[Dates]</h2>
  <h3 class="text-center">With a theme of:</h3>
  <h2 class="text-center"><em>Improve Your Daily Life</em></h2>
  <h3 class="text-center lead">
    <p>Judge Vote Winner: [Prize]</p>
    <p>Community Vote Winner: [Prize]</p>
    <p>Raffle Winner: [Prize]</p>
  </h3>
</div>
