<div class="jumbotron hero">
  <h1 class="text-center"><span class="hacktext">Code Launch 2015</span></h1>
  <h2 class="text-center">July 11-19, 2015</h2>
  <h3 class="text-center">With a theme of:</h3>
  <h2 class="text-center theme-text"><em>Improve Your Daily Life</em></h2>
</div>
<div id="sponsors" class="col-md-8 col-md-offset-2">
  <h2 class="text-center">Sponsored By:</h2>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
</div>
<div id="join" class="col-md-8 col-md-offset-2">
  <h3 class="text-center lead">Not a member of our community?<br><a href="https://slashrocket.io"><%= image_tag "join.png", class: "img img-responsive" %></a></h3>
</div>
