<h1 align="center">Rules and Requirements</h1>
<hr/>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>You can choose to work either individually or in a team. Teams are limited to a maximum of 5 members. You are more than welcome to ask your peers for debugging help, but all commits to the repository must be from you or your team.</p>
        <p>Each participant must be a current member of the <a class="link" href="https://slashrocket.io">slashrocket community</a>. You will log in using your Slack credentials and submit your entry to this site.</p>
        <hr>
        <p><strong>Your project must:</strong></p>
        <ul>
          <li>contain nothing illegal or malicious.</li>
          <li>be your original work. That goes for code, design, sounds, etc. You can use third-party libraries as long as you give appropriate credit and citations in your repo's README. Make sure all used assets are freely available to the public.</li>
          <li>be open source. It must be deployed and hosted somewhere that the community can view and you must provide a link to the code repository.</li>
        </ul>
        <hr>
        <p><strong>Voting</strong></p>
        <p>Community voting will take place in the <a class="link" href="https://community.slashrocket.io">slashrocket community forum</a>. Make sure you are signed up through Slack otherwise you may not be eligible to vote. It will begin 24 hours after the hackathon has ended and will be open for 7 days.
        <hr>
        <p><strong>Prizes & Eligibility</strong></p>
        <p>Any member of slashrocket may participate. However, only non-admin members may win a prize. If you are located out of the United States, you may be required to pay some shipping and handling fees to receive all winning prizes. If winning a prize is illegal in your area of residence, we will find a less unlawful way to reward you.</p>
        <p align="center">Judges Vote Winner: [Prize]</p>
        <p style="float: left">Community Vote Winner: [Prize]</p>
        <p style="float: right">Raffle Winner: [Prize]</p>
        <br/>
        <hr>
        <p align="center"><strong><em>Failure to comply with these rules will result in your disqualification.</em></strong></p>
  </div>
</div>
<br/><br/><br/>
<div class="row" id="calltoaction">
  <div class="col-md-6 col-md-offset-3">
    <h3>If you are unsure about any of the rules, or simply have a question, the admin team is available 24/7 on the:</h3>
    <h3 align="center"><a href="https://slashrocket.slack.com/messages/hackathon">Slashrocket Slack channel</a></h3>
  </div>
</div>