<h1 align="center">Welcome to Code Launch 2015!</h1>
<hr/>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 align="center">
      On behalf of the entire Slashrocket team, we'd like to welcome you to the first official hackathon. This years theme will be all about improving your daily life. Think that's a vague theme? So do we! Things like notes, calculators, daily weather, personal robots and more can all fit under our broad category for the initial hackathon. The only real limitation is that it must be a web app of some sort.
    </h3>
    <h3 align="center">
      You can choose to work with either a team, or by yourself. Please note that if you choose to work individually, you'll still be considered a 'team' according to our entry system, so you'll still need a fun team name!
    </h3>
    <h2 align="center">
      Ready to get started?
    </h2>
    <h4 align="center">
      <%= link_to "Create your team", new_team_url, class: 'btn btn-lg btn-primary' %> <%= link_to "Join a team", teams_url, class: 'btn btn-lg btn-default' %>
    </h4>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3 align="center">
      Still have questions? Ask the Slashrocket admins over <a href="https://slashrocket.slack.com/messages/hackathon/" style="color: #71BDDA">at Slack</a>
    </h3>
  </div>
</div>