<div class="panel panel-default" align="left">
  <div class="panel-body">
    <h3>Tips and Tricks</h3>
    <hr/>
    <ul>
      <li>You need a team, even if it will only be yourself coding.</li>
      <li>Keep the name short and easy to remember.</li>
      <li>Your team name will become your hackathon page url.</li>
      <li>The more optional info you provide, the better your chances of finding fellow coders to join your team</li>
      <li>You can change your description and other optional items later, but not your team name.</li>
      <li>Have fun, not all code launches take off, but they should all be a blast!</li>
    </ul>
  </div>
</div>
<%= image_tag "rocketprogress.png", width: "35%", height: "35%" %>