<h1 align="center">Teams</h1>
<hr/>
<div class="row">
  <% unless @teams.present? %>
    <h2 align="center"> There are no Teams yet.</h2>
    <center><%= link_to "Create yours now", new_team_url, class: 'btn btn-lg btn-primary' %></center>
  <% end %>
  <%= render @teams %>
</div>