<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Code Launch 2015</a>
        <ul class="user-menu">
          <img class="img-circle profile-image" src="{{user.image}}" alt="avatar" width="35" height="35"> <span class="nickname">{{user.username}}</span>
        </ul>
      </div>     
    </div><!-- /.container-fluid -->
  </nav>