<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <ul class="nav menu">
    <li ui-sref-active="active"><a ui-sref="dashboard"><span class="fa fa-tachometer"></span> Dashboard</a></li>
    <li ui-sref-active="active"><a ui-sref="users"><span class="fa fa-users"></span> Users</a></li>
    <li ui-sref-active="active"><a ui-sref="entries"><span class="fa fa-files-o"></span> Entries</a></li>
    <li><a href="/sidekiq" target="_self"><span class="status-sprite status-idle"></span> Sidekiq</a></li>
  </ul>
</div>