// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);

$head-text: "Kaushan Script", cursive;
$body-text: Merriweather, serif;
$madison: #2D3E50;
$seagull: #71BDDA;
@mixin grey-background($opacity) {
  background: rgba(248,248,248,$opacity);
}

body {
  font-family: $body-text;
  background: url(image_path('road.jpg'));
  background-size: cover;
  background-attachment: fixed;
  color: $madison;
}

.hero {
  padding-top: 0px;
  background-color: transparent !important;
}

.hacktext {
  font-size: 1.7em;
  font-family: $head-text;
  letter-spacing: -2px;
  margin-top: -5px;
  
}

.navbar-brand {
  font-family: $head-text;
}

.entry {
  @include grey-background(0.8);
  border-radius: 10px;
  margin-bottom: 10px;
  .repo-link {
    float: right;
    margin-top: 1%;
  }
  .entry-links {
    color: $seagull;
  }
}

.entry:hover {
  @include grey-background(0.7);
}

.title {
  font-size: 2.5em;
  :hover {
    text-decoration: none;
  }
}

.navbar-default {
  @include grey-background(0.8);
}

a {
  color: $madison;
}

a:hover {
  text-decoration: none;
}

.slack-logo:after {
  content: "";
  display: inline-block;
  height: 18px;
  width: 138px;
  background: url(slack-grey.svg) no-repeat;
}

.profile-image{
  position: relative !important;
  margin-bottom: -15px;
  top: -7px !important;
  float: left !important;
  left: -5px !important;
}

.link {
  box-shadow: inset 0 -4px 0 $seagull;
}

.theme-text {
  color: $seagull;
}


.main {
  padding-top: 75px;
}

#calltoaction {
  background-color: rgba(255,255,255,0.4);
  padding-top: 25px;
  padding-bottom: 60px;
  margin-top: -15px;
  color: #777;
}

.hackdate {
  padding-top: 0px;
}

#sponsors {
  margin-top: 15px;
}

.sponsors {
  padding-top: 75px;
  padding-bottom: 75px;
}

.joinslashrocket {
  margin-top: 35px;
  background-color: rgba(255,255,255,0.4);
}

.viewteams {
  margin-right: 25px;
}