<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">     
  <div class="row">
    <ol class="breadcrumb">
      <li><a ui-sref="dashboard"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Dashboard</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Dashboard</h1>
    </div>
  </div><!--/.row-->

  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel panel-blue panel-widget ">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <em class="fa fa-users large-icon"></em>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large">{{total_users.value}}</div>
            <div class="text-muted">Total Users</div>
          </div>
        </div>
      </div>
    </div>
    {{ $rootScope.sign_up }}
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel panel-orange panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <em class="fa fa-files-o large-icon"></em>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large">{{total_entries.value}}</div>
            <div class="text-muted">Total Entries</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel panel-teal panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <em class="fa fa-user-plus large-icon"></em>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="text-muted">Sign up</div>
            <div class="large">{{sign_up_value()}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel panel-red panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <em class="fa fa-paper-plane large-icon"></em>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="text-muted">Entry Submission</div>
            <div class="large">{{submit_entry_value()}}</div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
  
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
          <h4>Users - Entries Ratio</h4>
          <div class="progress-wrapper">
            <div class="progress ng-binding" ng-style="{'font-size': getFontSize()}">
            {{total_entries.value}}/{{total_users.value}}
            </div>
            <div
            round-progress
            max="total_users.value"
            current="total_entries.value"
            color="#45ccce"
            bgcolor="#eaeaea"
            radius="100"
            stroke="20"
            semi="false"
            rounded="true"
            clockwise="false"
            iterations="50"
            animation="easeInOutQuart"></div>
            </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
          <h4>Sign Up</h4>
          <div><input bs-switch type="checkbox" ng-model="sign_up.value" /></div>
          
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-body easypiechart-panel">
          <h4>Entry Submission</h4>
          <div><input bs-switch type="checkbox" ng-model="submit_entry.value" /></div>
          
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
              
  
</div>  <!--/.main-->