<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a ui-sref="dashboard"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Entries</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Entry List</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <div class="panel panel-default panel-body">
    <div class="table">
      <table st-table="entries" st-table-raw="entries" class="table table-striped">
        <thead>
        <tr>
          <th colspan="5"><input st-search="" id="entry_search" ng-model="search" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        <tr>
          <th st-sort="firstName">Name</th>
          <th st-sort="lastName">Url</th>
          <th st-sort="birthDate">About</th>
          <th st-sort="balance">Team</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entry in entries">
          <td>{{entry.name}}</td>
          <td>{{entry.url}}</td>
          <td>{{entry.about}}</td>
          <td><a href="" ui-sref="teams({search: entry.team_name})">{{entry.team_name}}</a></td>
          <td>
          <button type="button" ng-click="deleteModal(entry)" class="btn btn-sm btn-danger">
            <i class="fa fa-user-times">
            </i>
          </button>
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>
</div>