    <div class="col-md-4">
    
      <div class="panel panel-blue">
        <div class="panel-heading dark-overlay"><span class="glyphicon glyphicon-check"></span>To-do List</div>
        <div class="panel-body">
          <ul class="todo-list">
          <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Make a plan for today</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
            <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Update Basecamp</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
            <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Send email to Jane</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
            <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Drink coffee</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
            <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Do some work</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
            <li class="todo-list-item">
              <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                <label for="checkbox">Tidy up workspace</label>
              </div>
              <div class="pull-right action-buttons">
                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                <a href="#" class="trash"><span class="glyphicon glyphicon-trash"></span></a>
              </div>
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="input-group">
            <input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" />
            <span class="input-group-btn">
              <button class="btn btn-primary btn-md" id="btn-todo">Add</button>
            </span>
          </div>
        </div>
      </div>
              
    </div><!--/.col-->
  </div><!--/.row-->