<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
  <div class="row">
    <ol class="breadcrumb">
      <li><a ui-sref="dashboard"><span class="glyphicon glyphicon-home"></span></a></li>
      <li class="active">Users</li>
    </ol>
  </div><!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">User List</h1>
    </div>
  </div>
  <div class="row">
  <div class="col-lg-12">
  <div class="panel panel-default panel-body">
    <div class="table">
      <table st-table="users" st-table-raw="users" class="table table-striped">
        <thead>
        <tr>
          <th colspan="5"><input st-search="" id="user_search" ng-model="search" class="form-control" placeholder="global search ..." type="text"/></th>
        </tr>
        <tr>
          <th st-sort="firstName">Username</th>
          <th st-sort="lastName">Role</th>
          <th st-sort="birthDate">E-mail</th>
          <th st-sort="balance">Team name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
          <td><span editable-text="user.username" e-name="username" e-form="userform" e-required>{{user.username}}</span></td>
          <td><span editable-select="user.role" e-name="role" e-form="userform" e-ng-options="role.value as role.text for role in roles" e-required>{{user.role}}</span></td>
          <td><span editable-text="user.email" e-name="email" e-form="userform" e-required>{{user.email}}</span></td>
          <td><a href="" ui-sref="teams({search: user.team_name})">{{user.team_name}}</a></td>
          <td style="white-space: nowrap">
            <!-- form -->
            <form editable-form name="userform" onbeforesave="updateUser($data, user.id)" ng-show="userform.$visible" class="form-buttons form-inline" shown="inserted == user">
              <button type="submit" ng-disabled="userform.$waiting" class="btn btn-sm btn-primary">
                save
              </button>
              <button type="button" ng-disabled="userform.$waiting" ng-click="userform.$cancel()" class="btn btn-sm btn-default">
                cancel
              </button>
            </form>
            <div class="buttons" ng-show="!userform.$visible">
              <button class="btn btn-sm btn-primary" ng-click="userform.$show()">edit</button>
              <button class="btn btn-sm btn-danger" ng-click="removeItem(entry)"><i class="fa fa-user-times"></i></button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="text-center">
              <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  </div>
</div>