<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">  
  <div class="table">
    <table st-table="users" st-table-raw="users" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="firstName">Username</th>
        <th st-sort="lastName">Role</th>
        <th st-sort="birthDate">E-mail</th>
        <th st-sort="balance">uid</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="user in users">
        <td>{{user.username}}</td>
        <td>{{user.role}}</td>
        <td>{{user.email}}</td>
        <td>{{user.uid}}</td>
        <td>
        <button type="button" ng-click="removeItem(user)" class="btn btn-sm btn-danger">
          <i class="fa fa-trash">
          </i>
        </button>
        </td>
      </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5" class="text-center">
            <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>